web/node_modules
web/.dockerignore
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/Dockerfile
web/build

api/node_modules
api/config
api/.dockerignore
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/Dockerfile
api/coverage
api/test

docker-compose.yml
.gitignore
