web/node_modules
web/.dockerignore
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

api/node_modules
api/config
api/.dockerignore
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*

docker-compose.yml
