web/node_modules
web/.dockerignore
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/Dockerfile

api/node_modules
api/config
api/.dockerignore
api/npm-debug.log*
api/yarn-debug.log*
api/yarn-error.log*
api/Dockerfile

docker-compose.yml
.gitignore
